<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Contador de Calorias{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Contador de Calorias</a>
                    {% if user.is_authenticated %}
                    <div class="dropdown ms-auto">
                        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button"
                            id="menuUsuario" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-2"></i>
                            Menu
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuUsuario">
                            <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                data-bs-target="#modalMeta">
                                <i class="bi bi-check2-circle me-2"></i> Definir meta
                            </button>
                            <form method="POST" action="{% url 'desconectar_usuario' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bi bi-box-arrow-right me-2"></i> Sair
                                </button>
                            </form>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="modal fade" id="modalMeta" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'definir_meta' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Definir meta de calorias</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <label class="form-label">Meta diária (kcal)</label>
                        <input type="number" name="meta" class="form-control" required min="1">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main class="container-fluid mt-4">
        {% block content %}{% endblock %}
    </main>
</body>

</html>